// styling for common HTML elements
ol, ul{
    list-style: none;

    li {
        margin: 0;
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 2px 0;
    padding: 0
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.2em;
}

h4, h5, h6 {
    font-size: 1.1em;
}

// input elements are the source of the biggest style
// issues, so !important is used quite liberally
input, select, option, textarea, button {
    line-height: 1.1 !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1em !important;
    float: none !important;
    color: $black !important;
}

label{
    cursor: pointer;
    font-weight: normal;
}

input{
    box-shadow: none;
    border-radius:0;
    background: $white;
    border: 1px solid $dark-gray;
    line-height: 1.2;
}

input[type=text]{
    height: 20px;
    max-height: 20px;
    min-height: 20px;
    padding: 2px;
    font-family: sans-serif;
    border-style: solid;
    border-color: $dark-gray;
    border-width: 0 0 1px 0;
}

select {
    display: inline-block !important;
    border: 1px solid #a9a9a9 !important;
    background: $white !important;
    margin: 2px !important;
}

button {
    text-align: center;
    background: $button-gray;
    color: $black !important;
    font-weight: normal !important;
    text-transform: capitalize !important;

    border-radius: 0px;
    border-width: 0 0 4px 0;
    border-style: solid;
    border-color: $dark-gray;
    box-shadow: none !important;

    cursor: pointer !important;
    margin: 2px !important;
    padding: 3px 6px !important;
    
    min-width: initial !important;

    &:hover, &:active, &:focus{
        border-color: $gray;
        color: $black !important;
    }

    &.transparent {
        background: transparent !important;
        border: 0 !important;
        font-weight: bold !important;

        &:hover {
            background: transparent !important;            
        }
    }

    &.neg {
        border-color: $dark-red !important;

        &:hover, &:active, &:focus {
            border-color: $red !important;   
        }
    }

    &.pos {
        border-color: $dark-green !important;

        &:hover, &:active, &:focus {
            border-color: $green !important;   
        }
    }

    &.neg.transparent {
        background: transparent !important;
        color: $dark-red !important;

        &:hover , &:active, &:focus {
            color: $red !important;
        }
    }

    &:disabled {
        opacity: 0.25;
    }
}
