
.frame {
  background: $white;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 10px;
  width: 1000px;
  vertical-align: top;
  min-height: 200px;
  font-size: 16px;

  
  .content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: left;
    
    > * {
        flex-grow: 1;
        margin: 0 15px;
  
        &:first-child {
            margin-left: 0;
        }
  
        &:last-child {
            margin-right: 0;
        }
    }
  }



  ul {
      padding: 0;
      overflow-wrap: break-word;
  }

  li {
      min-height: 1.5em;
  }

}

label.selected {
  background: $green;
  border-color: $dark-green;
}


.tile {
    width: 300px;
    max-height: 200px;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    line-height: 1.5em;
    vertical-align: top;
    margin-right: 10px;
    
    &.red {
        background: $dark-red;

        * {
            color: $white;
        }
    }

    &.gold {
        background: $gold;
    }

    li {
        list-style: disc;
        list-style-position: inside;
    }

    ul.long {
        overflow-y: auto;
        max-height: 150px;
    }
}