.frames {
    background: $white;
    box-sizing: border-box;
    margin-right: 3px;
    padding: 5px;
    width: 400px;
    vertical-align: top;
    min-height: 200px;

    .frame, .wizard {
        background: $white;
        text-align: left;
        padding: 5px;
        width: 100%;
        min-height: 200px;
        display: flex;
        flex-direction: column;

        ul {
            padding: 0;
            overflow-wrap: break-word;
        }

        li {
            min-height: 1.5em;
        }
    }

    .choices {
        display: flex;
        flex-wrap: wrap;

        label {
            margin-right: 15px;
            padding: 2px 3px;
            border-radius: 3px;
            word-break: break-all;
        }

        label.selected {
            background: $green;
        }
    }

    .info-box {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 2;
    }

    .info {

        > * {
            padding: 2px 0;
        }

        .line {
            padding: 2px 0;
        }

        label {
            margin-right: 5px;
        }
    }

    .buttons {
        margin: auto 0 0;
        display: flex;

        button {
            flex-grow: 1;
        }
    }

    .rules {
        margin: 5px 0;

        .rule {
            height: inherit;
            line-height: 1.1;
            > * {
                margin: 0 3px;
            }
        }
    }

    .rule-name {
        font-weight: bold;
    }

    .rule-attr, .rule-type {
        font-size: 0.9em;
        padding: 2px;
        border: 1px solid $black;
    }

    .rule-attr {
        color: $blue;
        background: $light-blue;
        border-color: $blue;
    }

    .rule-type {
        color: $dark-green;
        background: $light-green;
        border-color: $dark-green;
    }
}

