$light-red: #F799B5;
$red: #E85F88;
$dark-red: #D02357;

$light-green: #CCE0C3;
$green: #76B85C;
$dark-green: #42752E;

$light-blue: #BDCDDB;
$blue: #225683;
$dark-blue: #222233;

$purple: #8F56A6;
$gold: #FFD700;

$light-gray: #EFEFEF;
$button-gray: #CED1DE;
$gray: #898B96;
$dark-gray: #323033;

$white: #ffffff;
$black: #000000;
