.wizard {
    text-align: left;
    width: 100%;
    background: $white;
    padding: 5px;
    display: flex;
    flex-direction: column;

    /*
     * frames are broken down into two parts, the .info section and
     * the .buttons section
     */
    .info {

        > * {
            padding: 2px 0;
        }

        .line {
            padding: 2px 0;

            p {
                font-weight: bold;
            }
        }

        label {
            margin-right: 5px;
        }
    }

    .buttons {
        margin-top: 5px;
        display: flex;

        button {
            flex-grow: 1;
        }
    }

    ul {
        padding: 0;
        overflow-wrap: break-word;
    }

    li {
        min-height: 1.5em;
    }

    .choices {
        display: flex;
        flex-wrap: wrap;

        label {
            margin-right: 15px;
            padding: 2px 3px;
            border-radius: 3px;
            word-break: break-all;
        }

        label.selected {
            background: $green;
        }
    }
}
