$red: #E85F88;
$dark-red: #D02357;

$light-green: #CCE0C3;
$green: #76B85C;
$dark-green: #42752E;

$light-blue: #BDCDDB;
$blue: #225683;
$dark-blue: #222233;

$purple: #8F56A6;
$gold: #FFD700;

$light-gray: #EFEFEF;
$button-gray: #CED1DE;
$dark-gray: #323033;
$gray: #898B96;

$white: #ffffff;
$black: #000000;

/* general */
body{
    /* can break some sites' layouts */
    margin: 0;
}

body.foraging {
    margin-bottom: 350px;
}

@import 'forager';
@import 'page';
@import 'preview';
@import 'options';
