/* general */
body {
  /* can break things */
  margin: 0; }

/* Interface */
#collectjs {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 1050px;
  min-height: 30px;
  border-top: 1px solid #444444;
  background: white;
  font-size: 20px;
  font-family: sans-serif;
  color: black;
  text-align: left;
  box-sizing: border-box; }
  #collectjs * {
    color: black;
    box-sizing: border-box; }
  #collectjs button {
    padding: 5px;
    height: 100%;
    border-radius: 3px;
    background-color: #ccc;
    border: 1px outset #7a7b7a;
    font-size: 14px;
    line-height: 1.2;
    text-transform: none; }
  #collectjs input {
    box-shadow: none;
    border-radius: 0;
    background: white;
    border: 1px solid #444444;
    font-size: 16px;
    line-height: 1.2; }
  #collectjs input[type=text] {
    height: 20px;
    max-height: 20px;
    min-height: 20px;
    padding: 2px;
    font-family: sans-serif; }
  #collectjs input[type=text]:disabled {
    background: #efefef;
    border-color: #cccccc; }
  #collectjs label {
    font-size: 1em;
    cursor: pointer;
    font-weight: normal; }
  #collectjs .topbarHolder {
    position: relative;
    width: 100%; }
  #collectjs .topbar {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    width: 100% select;
      width-font-size: 16px; }
  #collectjs .tabs {
    height: 30px;
    padding: 0;
    margin: 0;
    word-spacing: -6px;
    width: 100%;
    background: transparent; }
    #collectjs .tabs .tab {
      background: gold;
      border-top: 1px solid #444444;
      border-right: 1px solid #444444; }
    #collectjs .tabs .tab.set {
      background: #bddbce; }
    #collectjs .tabs .toggle {
      cursor: pointer; }
    #collectjs .tabs .toggle:hover {
      background: #e0bd00; }
    #collectjs .tabs .tab {
      word-spacing: normal;
      display: inline-block;
      padding: 0 5px;
      height: 30px;
      line-height: 30px; }
      #collectjs .tabs .tab div {
        display: inline-block; }
      #collectjs .tabs .tab button {
        background: transparent;
        font-size: 100%;
        line-height: 1;
        border: 0;
        cursor: pointer;
        height: 18px;
        font-family: sans-serif;
        vertical-align: inherit; }
      #collectjs .tabs .tab label {
        cursor: pointer; }
      #collectjs .tabs .tab .smallSelector {
        font-size: 0.75em;
        margin: 0 3px; }
    #collectjs .tabs .toggle {
      cursor: pointer; }
    #collectjs .tabs .tab.active {
      height: 31px;
      background: white; }
    #collectjs .tabs .tab.hidden {
      display: none; }
  #collectjs .groups {
    background: white; }
    #collectjs .groups .group {
      border-color: #444444;
      border-style: solid;
      border-width: 1px 1px 0 0;
      display: none;
      min-width: 100%;
      padding: 15px; }
    #collectjs .groups .show {
      display: block; }
  #collectjs .rules .collectGroup {
    margin-right: 10px;
    padding: 3px 0 3px 3px;
    border: 1px solid #444444; }
    #collectjs .rules .collectGroup span {
      padding: 3px; }
  #collectjs .rules .deltog {
    cursor: pointer;
    background: #efefef; }
  #collectjs .rules .savedSelector {
    cursor: pointer; }
  #collectjs .rules .savedSelector.editing {
    background: gold; }
  #collectjs .rules .ruleGroup {
    margin-bottom: 15px; }
    #collectjs .rules .ruleGroup h2 {
      text-decoration: underline;
      margin: 10px 0; }
  #collectjs .ruleHTMLHolder .capture {
    background: #ddd;
    padding: 2px;
    cursor: pointer; }
  #collectjs .ruleHTMLHolder .selected {
    background: #bddbce; }
  #collectjs .ruleHTMLHolder .cycle {
    margin: 0 5px;
    padding: 2px 3px;
    cursor: pointer; }
  #collectjs .items {
    display: none;
    font-size: 16px;
    color: black; }
    #collectjs .items .rule {
      height: 20px;
      font-size: 1em;
      margin-bottom: 5px;
      border: 0;
      overflow: visible; }
      #collectjs .items .rule span {
        min-width: 50px; }
      #collectjs .items .rule label {
        width: 75px; }
      #collectjs .items .rule label, #collectjs .items .rule input {
        margin: 0;
        display: inline-block; }
    #collectjs .items .rule.follow, #collectjs .items .rule.range {
      display: none; }
    #collectjs .items input.error {
      border-color: #c91900;
      border-style: solid; }
    #collectjs .items span.error {
      border-bottom: 1px solid #c91900; }
    #collectjs .items input[type=text] {
      width: 150px;
      border-width: 0 0 1px; }
    #collectjs .items .rulesForm, #collectjs .items .modifiers {
      display: inline-block; }
    #collectjs .items .rulesForm {
      width: 25%;
      min-width: 250px;
      border-right: 1px dashed #444444; }
    #collectjs .items .modifiers {
      vertical-align: top;
      padding-left: 15px;
      max-width: 75%; }
      #collectjs .items .modifiers > div {
        padding: 10px 0; }
  #collectjs .selectorGroup {
    display: inline-block;
    white-space: nowrap;
    padding: 2px 0 0 2px;
    position: relative;
    cursor: pointer; }
    #collectjs .selectorGroup * {
      font-size: 16px; }
    #collectjs .selectorGroup .toggleable {
      color: #444444;
      border-bottom: 1px solid #777; }
    #collectjs .selectorGroup .toggleable.off {
      color: #ccc; }
    #collectjs .selectorGroup .deltog, #collectjs .selectorGroup .nthtype, #collectjs .selectorGroup .onlychild {
      font-weight: bold;
      padding: 0 3px 0 2px;
      color: white; }
    #collectjs .selectorGroup .childToggle {
      border-width: 0 0 1px;
      width: 50px; }
  #collectjs .selectorGroup:hover .deltog, #collectjs .selectorGroup:hover .onlychild, #collectjs .selectorGroup:hover .nthtype {
    color: #777; }

#ruleHTML {
  line-height: 2; }

#closeCollect {
  background: #f296a3 !important;
  cursor: pointer; }

#rulePreview {
  font-size: 16px;
  overflow-y: scroll;
  height: 200px;
  border: 2px inset; }
  #rulePreview p {
    margin-bottom: 5px;
    padding: 2px 15px; }
  #rulePreview p:nth-of-type(even) {
    background: #efefef; }

#collectMain {
  padding: 5px 5px 15px;
  color: black; }
  #collectMain .items {
    margin-top: 15px; }

#ruleAlert {
  font-size: 0.75em; }

#rulePage div {
  display: inline-block;
  width: 100px; }
#rulePage label {
  width: auto;
  margin-right: 5px; }

/* Selector */
#selectorHolder {
  border-bottom: 1px dashed #444444;
  line-height: 1.5; }

.collectHighlight {
  background: rgba(50, 50, 50, 0.1) !important;
  color: #222 !important; }
  .collectHighlight * {
    color: #222 !important; }

.queryCheck {
  background: rgba(255, 215, 0, 0.25) !important;
  border: 1px solid yellow !important; }
  .queryCheck * {
    background: rgba(255, 215, 0, 0.25) !important;
    border: 1px solid yellow !important; }
  .queryCheck .queryCheck {
    background: rgba(255, 215, 0, 0.75) !important; }

.savedPreview {
  background: rgba(255, 0, 0, 0.25) !important; }
  .savedPreview * {
    background: rgba(255, 0, 0, 0.25) !important; }

img.savedPreview {
  border: 1px solid rgba(255, 0, 0, 0.25) !important; }
