/* general */
body {
  /* can break some sites' layouts */
  margin: 0; }

/* Interface */
.forager {
  z-index: 2147483638;
  position: fixed;
  left: 0;
  bottom: 0;
  min-height: 30px;
  border-top: 1px solid #373840;
  border-right: 1px solid #373840;
  background: white;
  font-size: 16px;
  font-family: sans-serif;
  color: black;
  text-align: left;
  box-sizing: border-box;
  /* lots of sites like to customize how various inputs look, 
  so this is trying to keep these close to (chrome) default css */ }
  .forager * {
    color: black;
    box-sizing: border-box;
    line-height: 1.1em !important; }
  .forager .not-allowed {
    cursor: not-allowed; }
    .forager .not-allowed * {
      cursor: not-allowed; }
  .forager .inline {
    display: inline-block; }
  .forager .hidden {
    display: none !important; }
  .forager ul {
    list-style: none; }
  .forager .permanent {
    padding: 3px 15px;
    background: #373840;
    height: 31px; }
    .forager .permanent * {
      color: #ced1de; }
    .forager .permanent button, .forager .permanent select, .forager .permanent option {
      color: black; }
    .forager .permanent div {
      display: inline-block;
      margin: 0 8px; }
    .forager .permanent select {
      width: 100px; }
  .forager .page-tree {
    display: inline-block;
    background: #373840;
    padding: 10px; }
    .forager .page-tree svg {
      box-sizing: content-box;
      background: white;
      padding: 15px; }
  .forager .views {
    box-sizing: border-box;
    background: #373840;
    width: 500px;
    padding: 10px;
    display: inline-block;
    vertical-align: top; }
    .forager .views .view {
      height: 250px;
      display: none;
      text-align: left;
      width: 100%;
      background: white;
      padding: 15px;
      overflow-y: scroll; }
      .forager .views .view > * {
        vertical-align: top;
        display: inline-block; }
      .forager .views .view .tag {
        background: #f296a3;
        display: inline-block;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
        margin-right: 5px;
        border: 1px solid #ced1de;
        border-radius: 5px;
        cursor: pointer; }
      .forager .views .view .on,
      .forager .views .view .tag.on {
        background: #bddbce; }
      .forager .views .view .form > p {
        margin: 0;
        line-height: 1.25em; }
      .forager .views .view .form .workarea {
        margin-bottom: 25px; }
      .forager .views .view .form input.error {
        border-color: #cf2558;
        border-style: solid; }
      .forager .views .view .form span.error {
        border-bottom: 1px solid #cf2558; }
      .forager .views .view .form .radio label {
        margin-left: 15px;
        display: inline-block; }
      .forager .views .view .form input[type=text] {
        width: 150px;
        border-width: 0 0 1px; }
    .forager .views .view.active {
      display: block; }
  .forager svg {
    font-size: 14px; }
    .forager svg .link {
      fill: none;
      stroke: #ced1de; }
    .forager svg .node {
      cursor: pointer;
      fill: #21732c; }
    .forager svg .empty {
      fill: #cf2558; }
    .forager svg .node text {
      paint-order: stroke;
      stroke: white;
      stroke-width: 2px;
      text-anchor: end; }
    .forager svg .current {
      font-weight: bold; }
  .forager input {
    box-shadow: none;
    border-radius: 0;
    background: white;
    border: 1px solid #373840;
    line-height: 1.2; }
  .forager input[type=text] {
    height: 20px;
    max-height: 20px;
    min-height: 20px;
    padding: 2px;
    font-family: sans-serif; }
  .forager label {
    cursor: pointer;
    font-weight: normal; }
  .forager .attributes tbody tr:hover {
    background: #898b96;
    cursor: pointer; }
  .forager .attributes .selectedAttr, .forager .attributes .selectedAttr:hover {
    background: #bddbce; }
  .forager td, .forager th {
    min-width: 50px;
    height: 1.5rem;
    border: 2px solid white;
    text-align: center;
    vertical-align: middle; }
  .forager th {
    background: #45aacc; }
  .forager input, .forager select, .forager option, .forager textarea, .forager button {
    line-height: 1.1em !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1em !important;
    float: none !important; }
  .forager button {
    background: #76b85c;
    color: black !important;
    border-radius: 3px;
    border: 2px outset #76b85c;
    box-shadow: none !important;
    cursor: pointer !important;
    font-weight: normal !important;
    margin: 2px !important;
    padding: 1px 6px !important;
    min-width: initial !important;
    text-transform: capitalize !important; }
    .forager button:hover, .forager button:active, .forager button:focus {
      background: #76b85c;
      border-color: #76b85c;
      color: black !important; }
    .forager button.red, .forager button.red:hover, .forager button.red:active, .forager button.red:focus {
      background: #cf2558;
      border-color: #cf2558;
      color: white !important; }
  .forager button:active {
    border-style: inset !important;
    color: black !important; }
  .forager select {
    display: inline-block !important;
    border: 1px solid #a9a9a9 !important;
    background: white !important;
    margin: 2px !important; }

.modal-holder {
  position: absolute;
  z-index: 2147483638; }
  .modal-holder * {
    text-align: left; }
  .modal-holder.hidden {
    display: none !important; }
  .modal-holder > div {
    position: fixed; }
  .modal-holder .background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5; }
  .modal-holder .cjs-modal {
    left: 10%;
    top: 25%;
    width: 80%;
    background: white;
    padding: 15px;
    font-size: 16px;
    font-family: sans-serif; }
    .modal-holder .cjs-modal pre {
      max-height: 300px;
      max-width: 100%;
      overflow: scroll;
      margin: 1em 0; }
  .modal-holder button {
    background: buttonface;
    border: 2px outset buttonface;
    color: buttontext;
    box-shadow: none !important;
    cursor: pointer !important;
    font-weight: normal !important;
    margin: 2px !important;
    padding: 1px 6px !important;
    min-width: initial !important;
    text-transform: capitalize !important; }
    .modal-holder button:hover, .modal-holder button:active, .modal-holder button:focus {
      background: buttonface;
      border-color: buttonface;
      color: buttontext; }
  .modal-holder button:active {
    border-style: inset !important;
    color: buttontext !important; }

#schemaInfo div {
  display: inline-block; }

#closeForager {
  background: #cf2558;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  height: 31px;
  width: 31px;
  font-size: 2em;
  color: white;
  text-align: center;
  margin: 0; }

.selectable-element {
  box-shadow: inset 0 0 2px #cf2558 !important; }

img.selectable-element {
  border: 1px dashed #cf2558 !important; }

.forager-highlight {
  background: rgba(46, 130, 158, 0.5) !important; }

img.forager-highlight {
  opacity: 0.25 !important; }

.query-check {
  background: rgba(255, 215, 0, 0.25) !important;
  box-shadow: inset 0 0 1px gold; }

.saved-preview {
  background: rgba(255, 0, 0, 0.25) !important; }

img.saved-preview {
  border: 1px solid rgba(255, 0, 0, 0.25) !important; }

.current-selector {
  box-shadow: inset 0 0 3px #45aacc !important; }

img.current-selector {
  border: 1px dotted #45aacc !important; }
