/* general */
body {
  /* can break some sites' layouts */
  margin: 0; }

/* Interface */
.forager {
  word-wrap: normal;
  z-index: 2147483637;
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 700px;
  min-height: 30px;
  background: #323033;
  font-size: 16px;
  font-family: sans-serif;
  color: #000000;
  text-align: left;
  border: 10px solid #323033;
  box-sizing: border-box;
  /* lots of sites like to customize how various inputs look, 
    so this is trying to keep these close to (chrome) default css */ }
  .forager.hidden {
    display: none !important; }
  .forager * {
    color: #000000;
    box-sizing: border-box;
    line-height: 1.1em !important; }
  .forager .not-allowed {
    cursor: no-drop; }
    .forager .not-allowed * {
      cursor: no-drop; }
  .forager .inline {
    display: inline-block; }
  .forager .hidden {
    display: none !important; }
  .forager ul {
    list-style: none; }
  .forager .controls {
    background: #323033;
    height: 31px;
    margin-bottom: 10px;
    min-width: 650px; }
    .forager .controls * {
      color: #CED1DE; }
    .forager .controls button, .forager .controls select, .forager .controls option {
      color: #000000; }
    .forager .controls button {
      line-height: 1.25em !important;
      border-radius: 3px;
      border-width: 1px;
      border-style: solid;
      box-shadow: none !important;
      cursor: pointer !important;
      font-weight: normal !important;
      margin: 2px !important;
      padding: 1px 6px !important;
      min-width: initial !important;
      text-transform: capitalize !important; }
      .forager .controls button.pos, .forager .controls button.pos:active, .forager .controls button.pos:focus {
        background: #323033;
        color: #76B85C !important;
        border-color: #76B85C; }
      .forager .controls button:hover {
        background: #76B85C;
        border-color: #76B85C;
        color: #323033 !important; }
      .forager .controls button.neg, .forager .controls button.neg:active, .forager .controls button.neg:focus {
        background: #323033;
        border-color: #E85F88;
        color: #E85F88 !important; }
      .forager .controls button.neg:hover {
        background: #E85F88;
        color: #323033 !important; }
    .forager .controls button:active {
      border-style: inset !important;
      color: #000000 !important; }
    .forager .controls div {
      display: inline-block; }
    .forager .controls select {
      width: 100px;
      min-height: 22px;
      height: 22px;
      border-radius: 2px; }
  .forager .workspace {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .forager .frames, .forager .graph {
    background: #ffffff;
    box-sizing: border-box;
    margin-right: 3px;
    padding: 5px; }
  .forager .graph svg {
    box-sizing: content-box;
    padding: 15px;
    font-size: 14px;
    background: #ffffff; }
    .forager .graph svg .link {
      fill: none;
      stroke: #323033; }
    .forager .graph svg .node {
      cursor: pointer;
      fill: #42752E; }
    .forager .graph svg .empty {
      fill: #E85F88; }
    .forager .graph svg .node text {
      paint-order: stroke;
      stroke: #ffffff;
      stroke-width: 3px;
      text-anchor: end; }
    .forager .graph svg .current {
      font-weight: bold; }
  .forager .frames {
    width: 400px;
    vertical-align: top; }
    .forager .frames .frame {
      text-align: left;
      width: 100%;
      background: #ffffff;
      padding: 5px;
      position: relative; }
  .forager input {
    box-shadow: none;
    border-radius: 0;
    background: #ffffff;
    border: 1px solid #323033;
    line-height: 1.2; }
  .forager input[type=text] {
    height: 20px;
    max-height: 20px;
    min-height: 20px;
    padding: 2px;
    font-family: sans-serif; }
  .forager label {
    cursor: pointer;
    font-weight: normal; }
  .forager .attributes tbody tr:hover {
    background: #898B96;
    cursor: pointer; }
  .forager .attributes .selectedAttr, .forager .attributes .selectedAttr:hover {
    background: #76B85C; }
  .forager td, .forager th {
    min-width: 50px;
    height: 1.5rem;
    border: 2px solid #ffffff;
    text-align: center;
    vertical-align: middle; }
  .forager th {
    background: #45AFCC; }
  .forager input, .forager select, .forager option, .forager textarea, .forager button {
    line-height: 1.1em !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1em !important;
    float: none !important; }
  .forager button {
    background: #CED1DE;
    color: #000000 !important;
    border-radius: 3px;
    border: 2px outset #CED1DE;
    box-shadow: none !important;
    cursor: pointer !important;
    font-weight: normal !important;
    margin: 2px !important;
    padding: 1px 6px !important;
    min-width: initial !important;
    text-transform: capitalize !important; }
    .forager button:hover, .forager button:active, .forager button:focus {
      background: #CED1DE;
      border-color: #CED1DE;
      color: #000000 !important; }
    .forager button.red, .forager button.red:hover, .forager button.red:active, .forager button.red:focus {
      background: #E85F88;
      border-color: #E85F88; }
  .forager button:active {
    border-style: inset !important;
    color: #000000 !important; }
  .forager select {
    display: inline-block !important;
    border: 1px solid #a9a9a9 !important;
    background: #ffffff !important;
    margin: 2px !important; }
  .forager .page-controls {
    display: inline-block; }
  .forager .app-controls {
    position: absolute;
    right: 0;
    top: 0; }
    .forager .app-controls button, .forager .app-controls button:hover {
      background: transparent !important;
      cursor: pointer !important;
      color: #ffffff !important;
      text-align: center !important;
      margin: 0 !important;
      border: 0 !important;
      font-weight: bold !important; }
    .forager .app-controls button:hover {
      background: #000000 !important; }

.modal-holder {
  position: absolute;
  z-index: 2147483638; }
  .modal-holder * {
    text-align: left; }
  .modal-holder.hidden {
    display: none !important; }
  .modal-holder > div {
    position: fixed; }
  .modal-holder .background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5; }
  .modal-holder .cjs-modal {
    left: 10%;
    top: 25%;
    width: 80%;
    background: #ffffff;
    padding: 15px;
    font-size: 16px;
    font-family: sans-serif; }
    .modal-holder .cjs-modal pre {
      max-height: 300px;
      max-width: 100%;
      overflow: scroll;
      margin: 1em 0; }
  .modal-holder button {
    background: buttonface;
    border: 2px outset buttonface;
    color: buttontext;
    box-shadow: none !important;
    cursor: pointer !important;
    font-weight: normal !important;
    margin: 2px !important;
    padding: 1px 6px !important;
    min-width: initial !important;
    text-transform: capitalize !important; }
    .modal-holder button:hover, .modal-holder button:active, .modal-holder button:focus {
      background: buttonface;
      border-color: buttonface;
      color: buttontext; }
  .modal-holder button:active {
    border-style: inset !important;
    color: buttontext !important; }

.options-modal {
  color: #323033; }
  .options-modal h2 {
    margin: 5px 0;
    font-size: 1.25em; }
  .options-modal h3 {
    margin: 5px 0;
    font-size: 1.1em; }
  .options-modal .note {
    font-style: italic;
    font-size: 0.9em;
    margin: 3px 0; }
  .options-modal label {
    font-weight: normal;
    margin-right: 25px; }
    .options-modal label input[type=checkbox] {
      margin-left: 5px; }

.selectable-element {
  box-shadow: inset 0 0 2px #1e0a3f !important; }

img.selectable-element {
  border: 1px dashed #1e0a3f !important; }

.forager-highlight {
  background: rgba(46, 130, 158, 0.5) !important; }

img.forager-highlight {
  opacity: 0.25 !important; }

.query-check {
  background: rgba(255, 215, 0, 0.25) !important;
  box-shadow: inset 0 0 1px #FFD700; }

img.query-check, a.query-check > img {
  border: 1px solid rgba(255, 215, 0, 0.25) !important; }

.saved-preview {
  background: rgba(255, 0, 0, 0.25) !important; }

img.saved-preview {
  border: 1px solid rgba(255, 0, 0, 0.25) !important; }

.current-selector {
  box-shadow: inset 0 0 5px #45AFCC !important; }

img.current-selector {
  border: 1px dotted #45AFCC !important; }
