/* general */
body {
  /* can break things */
  margin: 0; }

/* Interface */
.collectjs {
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 450px;
  min-height: 30px;
  border-top: 1px solid #444444;
  background: white;
  font-size: 20px;
  font-family: sans-serif;
  color: black;
  text-align: left;
  box-sizing: border-box;
  /* lots of sites like to customize how various inputs look, 
  so this is trying to keep these close to (chrome) default css */ }
  .collectjs * {
    color: black;
    box-sizing: border-box; }
  .collectjs .tabHolder {
    position: relative; }
  .collectjs .tabs {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    padding: 0;
    margin: 0;
    word-spacing: -6px;
    width: 100%;
    background: transparent; }
    .collectjs .tabs .tab {
      background: gold;
      border-top: 1px solid #444444;
      border-right: 1px solid #444444;
      word-spacing: normal;
      display: inline-block;
      padding: 0 5px;
      height: 30px;
      line-height: 30px;
      cursor: pointer; }
    .collectjs .tabs .toggle {
      cursor: pointer; }
    .collectjs .tabs .tab.active {
      background: #efefef; }
    .collectjs .tabs .tab.set {
      background: #bddbce; }
  .collectjs .permanent {
    font-size: 0.75em;
    border-bottom: 1px solid #cccccc;
    padding: 3px 15px;
    background: #efefef; }
    .collectjs .permanent div {
      display: inline-block;
      margin: 0 8px; }
  .collectjs .views {
    box-sizing: border-box;
    min-height: 150px;
    padding: 15px; }
    .collectjs .views .view {
      display: none;
      padding: 5px; }
      .collectjs .views .view .column {
        display: inline-block;
        vertical-align: top;
        padding: 0 15px; }
      .collectjs .views .view > * {
        vertical-align: top; }
      .collectjs .views .view > div {
        display: inline-block; }
      .collectjs .views .view .form > p {
        font-size: 1.25em; }
      .collectjs .views .view .form .tag {
        color: #c91900; }
      .collectjs .views .view .form .tag.on {
        color: #489675; }
      .collectjs .views .view .form input.error {
        border-color: #c91900;
        border-style: solid; }
      .collectjs .views .view .form span.error {
        border-bottom: 1px solid #c91900; }
      .collectjs .views .view .form input[type=text] {
        width: 150px;
        border-width: 0 0 1px; }
      .collectjs .views .view .form .rule {
        height: 20px;
        font-size: 1em;
        margin-bottom: 5px;
        border: 0;
        overflow: visible; }
        .collectjs .views .view .form .rule span {
          min-width: 50px; }
        .collectjs .views .view .form .rule label {
          width: 75px; }
        .collectjs .views .view .form .rule label, .collectjs .views .view .form .rule input {
          margin: 0;
          display: inline-block; }
      .collectjs .views .view .form .rule.follow {
        display: none; }
      .collectjs .views .view .hidden {
        display: none; }
      .collectjs .views .view .form.column {
        width: 25%;
        min-width: 300px;
        padding-right: 50px;
        border-right: 1px solid #444444; }
      .collectjs .views .view .form label {
        display: inline-block;
        width: 75px; }
      .collectjs .views .view svg .link {
        fill: none;
        stroke: #aaa; }
      .collectjs .views .view svg .node {
        cursor: pointer; }
      .collectjs .views .view svg .node.hasAttrs {
        fill: red; }
      .collectjs .views .view svg .node text {
        text-anchor: middle; }
    .collectjs .views .view.active {
      display: block; }
  .collectjs input {
    box-shadow: none;
    border-radius: 0;
    background: white;
    border: 1px solid #444444;
    font-size: 16px;
    line-height: 1.2; }
  .collectjs input[type=text] {
    height: 20px;
    max-height: 20px;
    min-height: 20px;
    padding: 2px;
    font-family: sans-serif; }
  .collectjs label {
    font-size: 1em;
    cursor: pointer;
    font-weight: normal; }
  .collectjs .rules {
    font-size: 16px; }
    .collectjs .rules .schema, .collectjs .rules .page, .collectjs .rules .set, .collectjs .rules .selector, .collectjs .rules .rule {
      padding: 5px 2px;
      border-radius: 5px;
      border-width: 1px;
      border-style: solid;
      border-color: #cccccc; }
    .collectjs .rules .schema {
      background: #efefef;
      display: none; }
    .collectjs .rules .schema.active {
      display: block; }
    .collectjs .rules .page {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin: 3px 0;
      background: white; }
    .collectjs .rules .set {
      margin: 2px 0;
      background: #efefef; }
    .collectjs .rules .set.active {
      background: #45aacc;
      border-color: #45aacc; }
    .collectjs .rules .selector {
      margin: 2px 0;
      background: white; }
    .collectjs .rules .schema ul, .collectjs .rules .page ul, .collectjs .rules .set ul {
      list-style: none; }
    .collectjs .rules .rule {
      margin-right: 10px;
      padding: 5px;
      background: #efefef;
      display: inline-block; }
    .collectjs .rules .parent .hidden, .collectjs .rules .next .hidden {
      display: none; }
    .collectjs .rules button {
      font-weight: bold;
      background: white;
      border: 1px solid #cccccc;
      border-radius: 3px; }
    .collectjs .rules button.pos:hover {
      color: #489675; }
    .collectjs .rules button.neg:hover {
      color: #c91900; }
    .collectjs .rules .nametag {
      font-weight: bold; }
  .collectjs .items {
    font-size: 16px;
    color: black; }
    .collectjs .items .modifiers {
      padding-left: 15px;
      max-width: 75%; }
      .collectjs .items .modifiers > div {
        padding: 10px 0; }
      .collectjs .items .modifiers .capture {
        background: #ddd;
        padding: 2px;
        cursor: pointer; }
      .collectjs .items .modifiers .selected {
        background: #bddbce; }
  .collectjs .selectorSchema {
    display: inline-block;
    white-space: nowrap;
    padding: 2px 0 0 2px;
    position: relative;
    cursor: pointer; }
    .collectjs .selectorSchema * {
      font-size: 16px; }
    .collectjs .selectorSchema .toggleable {
      color: #444444;
      border-bottom: 1px solid #777; }
      .collectjs .selectorSchema .toggleable .childtoggle {
        border-width: 0 0 1px;
        width: 50px; }
    .collectjs .selectorSchema .toggleable.off {
      color: #ccc; }
    .collectjs .selectorSchema .deltog, .collectjs .selectorSchema .nthtype, .collectjs .selectorSchema .onlychild {
      font-weight: bold;
      padding: 0 3px 0 2px;
      color: white; }
  .collectjs .selectorSchema:hover .deltog, .collectjs .selectorSchema:hover .onlychild, .collectjs .selectorSchema:hover .nthtype {
    color: #777; }
  .collectjs button {
    background: #dddddd;
    color: black;
    border: 2px outset #dddddd;
    border-radius: initial;
    box-shadow: none;
    cursor: pointer;
    font-weight: norma;
    margin: 2px;
    padding: 1px 6px;
    min-width: initial; }
  .collectjs button:active {
    border-style: inset;
    color: black; }
  .collectjs select {
    display: inline-block;
    border: 1px solid #a9a9a9;
    margin: 2px; }

/* tab buttons */
#refreshCollect {
  background: #45aacc; }

#closeCollect {
  background: #f296a3; }

#ruleHTML {
  line-height: 2; }

/* views */
/* schemaView */
#schemaHolder {
  max-height: 350px;
  overflow-y: scroll; }

/* selectorView */
#selectorView {
  font-size: 14px; }
  #selectorView input[type=text] {
    width: 50px; }
  #selectorView p {
    margin: 3px 0; }

#parentRange {
  display: none; }

/* previewView */
#previewView .name {
  margin-right: 15px; }
#previewView .previewSet {
  margin: 10px 5px;
  border: 1px solid black; }

#previewContents {
  font-size: 16px;
  overflow-y: scroll;
  height: 200px;
  border: 2px inset; }
  #previewContents p {
    margin-bottom: 5px;
    padding: 2px 15px; }
  #previewContents p:nth-of-type(even) {
    background: #efefef; }

/* Selector */
#selectorHolder {
  line-height: 1.5; }

.selectableElement {
  border: 1px solid blue !important; }

.collectHighlight {
  background: rgba(50, 50, 50, 0.1) !important;
  color: #222 !important; }
  .collectHighlight * {
    color: #222 !important; }

img.collectHighlight {
  border: 1px dashed #323232 !important; }

.queryCheck {
  background: rgba(255, 215, 0, 0.25) !important;
  border: 1px solid yellow !important; }
  .queryCheck .queryCheck {
    background: rgba(255, 215, 0, 0.75) !important; }

.savedPreview {
  background: rgba(255, 0, 0, 0.25) !important; }

img.savedPreview {
  border: 1px solid rgba(255, 0, 0, 0.25) !important; }

@-webkit-keyframes pulseParent {
  0% {
    border-color: #3c3c3c; }

  50% {
    border-color: rgba(60, 60, 60, 0.5); }

  100% {
    border-color: #3c3c3c; } }
.parentSchema {
  border: 1px solid #3c3c3c !important;
  -webkit-animation: pulseParent 1s infinite; }

.parentSchema.hidden {
  border: 0 !important; }
