/* general */
body {
  /* can break some sites' layouts */
  margin: 0; }

/* Interface */
.collectjs {
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 450px;
  min-height: 30px;
  border-top: 1px solid #444444;
  background: white;
  font-size: 20px;
  font-family: sans-serif;
  color: black;
  text-align: left;
  box-sizing: border-box;
  /* lots of sites like to customize how various inputs look, 
  so this is trying to keep these close to (chrome) default css */ }
  .collectjs * {
    color: black;
    box-sizing: border-box; }
  .collectjs .hidden {
    display: none; }
  .collectjs ul {
    list-style: none; }
  .collectjs .tabHolder {
    position: relative; }
  .collectjs .tabs {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    padding: 0;
    margin: 0;
    word-spacing: -6px;
    width: 100%;
    background: transparent; }
    .collectjs .tabs .tab {
      background: gold;
      border-top: 1px solid #444444;
      border-right: 1px solid #444444;
      word-spacing: normal;
      display: inline-block;
      padding: 0 5px;
      height: 30px;
      line-height: 30px; }
    .collectjs .tabs .tab.active {
      background: #efefef; }
    .collectjs .tabs .tab.set {
      background: #bddbce; }
  .collectjs .permanent {
    font-size: 0.75em;
    border-bottom: 1px solid #cccccc;
    padding: 3px 15px;
    background: #efefef; }
    .collectjs .permanent div {
      display: inline-block;
      margin: 0 8px; }
  .collectjs .column {
    display: inline-block;
    min-width: 125px; }
  .collectjs .column.hidden {
    display: none; }
  .collectjs .views {
    box-sizing: border-box;
    min-height: 150px;
    padding: 15px; }
    .collectjs .views .view {
      display: none;
      padding: 5px;
      text-align: left; }
      .collectjs .views .view > * {
        vertical-align: top; }
      .collectjs .views .view .tag {
        color: #c91900; }
      .collectjs .views .view .on,
      .collectjs .views .view .tag.on {
        color: #489675; }
      .collectjs .views .view .form > p {
        margin: 0; }
      .collectjs .views .view .form input.error {
        border-color: #c91900;
        border-style: solid; }
      .collectjs .views .view .form span.error {
        border-bottom: 1px solid #c91900; }
      .collectjs .views .view .form input[type=text] {
        width: 150px;
        border-width: 0 0 1px; }
      .collectjs .views .view .form label {
        display: inline-block; }
      .collectjs .views .view svg {
        font-size: 16px; }
        .collectjs .views .view svg rect {
          fill: white; }
        .collectjs .views .view svg .link {
          fill: none;
          stroke: #aaa; }
        .collectjs .views .view svg .node {
          cursor: pointer; }
        .collectjs .views .view svg .node text {
          text-anchor: middle; }
        .collectjs .views .view svg .currentSelector .shape {
          stroke: black;
          stroke-width: 2px; }
    .collectjs .views .view.active {
      display: block; }
  .collectjs input {
    box-shadow: none;
    border-radius: 0;
    background: white;
    border: 1px solid #444444;
    font-size: 16px;
    line-height: 1.2; }
  .collectjs input[type=text] {
    height: 20px;
    max-height: 20px;
    min-height: 20px;
    padding: 2px;
    font-family: sans-serif; }
  .collectjs label {
    font-size: 1em;
    cursor: pointer;
    font-weight: normal; }
  .collectjs button {
    background: #dddddd;
    color: black;
    border: 2px outset #dddddd;
    border-radius: initial;
    box-shadow: none;
    cursor: pointer;
    font-weight: norma;
    margin: 2px;
    padding: 1px 6px;
    min-width: initial; }
  .collectjs button:active {
    border-style: inset;
    color: black; }
  .collectjs select {
    display: inline-block;
    border: 1px solid #a9a9a9;
    margin: 2px; }

#schemaInfo div {
  display: inline-block; }

#closeCollectjs {
  background: #f296a3;
  cursor: pointer; }

.selectableElement {
  box-shadow: inset 0 0 1px #2e829e; }

.selectedElement {
  background: green; }

.collectHighlight {
  background: rgba(50, 50, 50, 0.5) !important;
  color: #222 !important; }
  .collectHighlight * {
    color: #222 !important; }

img.collectHighlight {
  border: 1px dashed #323232 !important; }

.queryCheck {
  background: rgba(255, 215, 0, 0.25) !important;
  box-shadow: inset 0 0 1px yellow; }

.savedPreview {
  background: rgba(255, 0, 0, 0.25) !important; }

img.savedPreview {
  border: 1px solid rgba(255, 0, 0, 0.25) !important; }

@-webkit-keyframes pulseParent {
  0% {
    border-color: #3c3c3c; }

  50% {
    border-color: rgba(60, 60, 60, 0.5); }

  100% {
    border-color: #3c3c3c; } }
