/* general */
body {
  /* can break things */
  margin: 0; }

/* Interface */
.collectjs {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 450px;
  min-height: 30px;
  border-top: 1px solid #444444;
  background: white;
  font-size: 20px;
  font-family: sans-serif;
  color: black;
  text-align: left;
  box-sizing: border-box; }
  .collectjs * {
    color: black;
    box-sizing: border-box; }
  .collectjs .tabHolder {
    position: relative; }
  .collectjs .tabs {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    padding: 0;
    margin: 0;
    word-spacing: -6px;
    width: 100%;
    background: transparent; }
    .collectjs .tabs .tab:hover {
      background: #e0bd00; }
    .collectjs .tabs .tab {
      background: gold;
      border-top: 1px solid #444444;
      border-right: 1px solid #444444;
      word-spacing: normal;
      display: inline-block;
      padding: 0 5px;
      height: 30px;
      line-height: 30px;
      cursor: pointer; }
      .collectjs .tabs .tab div {
        display: inline-block; }
      .collectjs .tabs .tab button {
        background: transparent;
        font-size: 100%;
        line-height: 1;
        border: 0;
        cursor: pointer;
        height: 18px;
        font-family: sans-serif;
        vertical-align: inherit; }
      .collectjs .tabs .tab label {
        cursor: pointer; }
      .collectjs .tabs .tab .smallSelector {
        font-size: 0.75em;
        margin: 0 3px; }
    .collectjs .tabs .toggle {
      cursor: pointer; }
    .collectjs .tabs .tab.active {
      background: #efefef; }
    .collectjs .tabs .tab.set {
      background: #bddbce; }
  .collectjs .permanent {
    font-size: 0.75em;
    border-bottom: 1px solid #cccccc;
    padding: 3px 15px;
    background: #efefef; }
    .collectjs .permanent .currentInfo div {
      display: inline-block;
      margin-right: 15px; }
    .collectjs .permanent .currentInfo > div {
      border-bottom: 1px dotted #444444; }
  .collectjs .views {
    box-sizing: border-box;
    min-height: 250px;
    padding: 15px; }
    .collectjs .views .view {
      display: none;
      padding: 5px; }
      .collectjs .views .view .column {
        display: inline-block; }
    .collectjs .views .view.active {
      display: block; }
  .collectjs input {
    box-shadow: none;
    border-radius: 0;
    background: white;
    border: 1px solid #444444;
    font-size: 16px;
    line-height: 1.2; }
  .collectjs input[type=text] {
    height: 20px;
    max-height: 20px;
    min-height: 20px;
    padding: 2px;
    font-family: sans-serif; }
  .collectjs input[type=text]:disabled {
    background: #efefef;
    border-color: #cccccc; }
  .collectjs label {
    font-size: 1em;
    cursor: pointer;
    font-weight: normal; }
  .collectjs .rules {
    font-size: 12px;
    list-style: none; }
    .collectjs .rules h3 {
      font-size: 1.1em; }
    .collectjs .rules .savedRule {
      margin-right: 10px;
      padding: 3px 0 3px 3px;
      border: 1px solid #444444;
      display: inline-block; }
    .collectjs .rules .deltog {
      cursor: pointer;
      background: #efefef;
      padding: 0 2px; }
    .collectjs .rules .savedRuleName {
      cursor: pointer; }
    .collectjs .rules .savedRuleName.editing {
      background: gold; }
    .collectjs .rules .editRule, .collectjs .rules .previewRule {
      cursor: pointer;
      padding: 0 3px;
      background: #efefef; }
    .collectjs .rules .ruleGroup {
      margin-bottom: 15px; }
      .collectjs .rules .ruleGroup h2 {
        text-decoration: underline;
        margin: 10px 0; }
  .collectjs .ruleHTMLHolder .capture {
    background: #ddd;
    padding: 2px;
    cursor: pointer; }
  .collectjs .ruleHTMLHolder .selected {
    background: #bddbce; }
  .collectjs .ruleHTMLHolder .cycle {
    margin: 0 5px;
    padding: 2px 3px;
    cursor: pointer; }
  .collectjs .items {
    font-size: 16px;
    color: black; }
    .collectjs .items .column {
      display: inline-block; }
    .collectjs .items .modifiers {
      vertical-align: top;
      padding-left: 15px;
      max-width: 75%; }
      .collectjs .items .modifiers > div {
        padding: 10px 0; }
  .collectjs .selectorGroup {
    display: inline-block;
    white-space: nowrap;
    padding: 2px 0 0 2px;
    position: relative;
    cursor: pointer; }
    .collectjs .selectorGroup * {
      font-size: 16px; }
    .collectjs .selectorGroup .toggleable {
      color: #444444;
      border-bottom: 1px solid #777; }
      .collectjs .selectorGroup .toggleable .childtoggle {
        border-width: 0 0 1px;
        width: 50px; }
    .collectjs .selectorGroup .toggleable.off {
      color: #ccc; }
    .collectjs .selectorGroup .deltog, .collectjs .selectorGroup .nthtype, .collectjs .selectorGroup .onlychild {
      font-weight: bold;
      padding: 0 3px 0 2px;
      color: white; }
  .collectjs .selectorGroup:hover .deltog, .collectjs .selectorGroup:hover .onlychild, .collectjs .selectorGroup:hover .nthtype {
    color: #777; }

/* tab buttons */
#refreshCollect {
  background: #45aacc; }

#closeCollect {
  background: #f296a3; }

#ruleHTML {
  line-height: 2; }

/* views */
/* previewView */
#previewContents {
  font-size: 16px;
  overflow-y: scroll;
  height: 200px;
  border: 2px inset; }
  #previewContents p {
    margin-bottom: 5px;
    padding: 2px 15px; }
  #previewContents p:nth-of-type(even) {
    background: #efefef; }

/* rulesView */
#ruleForm, #parentForm, #nextForm, #editForm {
  width: 25%;
  min-width: 250px;
  border-right: 1px dashed #444444; }
  #ruleForm input.error, #parentForm input.error, #nextForm input.error, #editForm input.error {
    border-color: #c91900;
    border-style: solid; }
  #ruleForm span.error, #parentForm span.error, #nextForm span.error, #editForm span.error {
    border-bottom: 1px solid #c91900; }
  #ruleForm input[type=text], #parentForm input[type=text], #nextForm input[type=text], #editForm input[type=text] {
    width: 150px;
    border-width: 0 0 1px; }
  #ruleForm .rule, #parentForm .rule, #nextForm .rule, #editForm .rule {
    height: 20px;
    font-size: 1em;
    margin-bottom: 5px;
    border: 0;
    overflow: visible; }
    #ruleForm .rule span, #parentForm .rule span, #nextForm .rule span, #editForm .rule span {
      min-width: 50px; }
    #ruleForm .rule label, #parentForm .rule label, #nextForm .rule label, #editForm .rule label {
      width: 75px; }
    #ruleForm .rule label, #parentForm .rule label, #nextForm .rule label, #editForm .rule label, #ruleForm .rule input, #parentForm .rule input, #nextForm .rule input, #editForm .rule input {
      margin: 0;
      display: inline-block; }
  #ruleForm .rule.follow, #parentForm .rule.follow, #nextForm .rule.follow, #editForm .rule.follow {
    display: none; }

#parentForm, #nextForm, #editForm {
  display: none; }

/* Selector */
#selectorHolder {
  border-bottom: 1px dashed #444444;
  line-height: 1.5; }

.collectHighlight {
  background: rgba(50, 50, 50, 0.1) !important;
  color: #222 !important; }
  .collectHighlight * {
    color: #222 !important; }

img.collectHighlight {
  border: 1px dashed #323232 !important; }

.queryCheck {
  background: rgba(255, 215, 0, 0.25) !important;
  border: 1px solid yellow !important; }
  .queryCheck * {
    background: rgba(255, 215, 0, 0.25) !important;
    border: 1px solid yellow !important; }
  .queryCheck .queryCheck {
    background: rgba(255, 215, 0, 0.75) !important; }

.savedPreview {
  background: rgba(255, 0, 0, 0.25) !important; }
  .savedPreview * {
    background: rgba(255, 0, 0, 0.25) !important; }

img.savedPreview {
  border: 1px solid rgba(255, 0, 0, 0.25) !important; }

.parentGroup {
  border: 1px solid blue !important; }
