.selectableElement{
    box-shadow: inset 0 0 2px $red;
}

img.selectableElement{
    border: 1px dashed $red !important;
}

.selectedElement{
    background: green;
}

.collectHighlight{
    background: rgba(46,130,158,0.5) !important;
}

img.collectHighlight{
    opacity: 0.25;
}

.queryCheck{
    background: rgba(255, 215, 0, 0.25) !important;
    box-shadow: inset 0 0 1px yellow;
}


.savedPreview{
    background: rgba(255,0,0,0.25) !important;
}

img.savedPreview{
    border: 1px solid rgba(255,0,0,0.25) !important;    
}
