.collectHighlight{
    background: rgba(50,50,50,0.1) !important;
    color: #222 !important;

    *{
        color: #222 !important;
    }
}

img.collectHighlight{
    border: 1px dashed rgb(50,50,50) !important;
}

.queryCheck{
    background: rgba(255, 215, 0, 0.25) !important;
    border: 1px solid yellow !important;

    *{
        background: rgba(255, 215, 0, 0.25) !important;
        border: 1px solid yellow !important;
    }

    .queryCheck{
        background: rgba(255, 215, 0, 0.75) !important;
    }
}

.savedPreview{
    background: rgba(255,0,0,0.25) !important;

    *{
        background: rgba(255,0,0,0.25) !important;
    }
}

img.savedPreview{
    border: 1px solid rgba(255,0,0,0.25) !important;    
}


@-webkit-keyframes pulseParent {
    0% {
        border-color:rgba(60, 60, 60, 1);
    }
    50% {
        border-color:rgba(60, 60, 60, 0.5);
    }
    100% {
        border-color:rgba(60, 60, 60, 1);
    }
}

.parentSchema{
    border: 1px solid rgba(60, 60, 60, 1) !important;
    -webkit-animation: pulseParent 1s infinite;
}

.parentSchema.hidden{
    border: 0 !important;
}
