$red: #C91900;
$light-red: #F296A3;
$green: #489675;
$light-green: #BDDBCE;
$blue: #45AACC;
$dark-blue: #2E829E;
$light-gray: #efefef;
$dark-gray: #444444;
$gray: #CCCCCC;
$gold: #FFD700;
$dark-gold: #E0BD00;
$white: #ffffff;
$black: #000000;

/* general */
body{
    /* can break things */
    margin: 0;
}

/* Interface */
.collectjs{
    z-index:1000;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 450px;
    min-height: 30px;
    border-top: 1px solid $dark-gray;
    background: $white;
    font-size: 20px;
    font-family: sans-serif;
    color: $black;
    text-align: left;
    box-sizing: border-box;

    *{
        color: $black;
        box-sizing: border-box;
    }

    .tabHolder{
        position: relative;
    }

    .tabs{
        position: absolute;
        left: 0;
        bottom: 0;
        height: 30px;
        padding: 0;
        margin: 0;
        word-spacing: -6px;
        width: 100%;
        background: transparent;
        
        .tab:hover{
            background: $dark-gold;
        }

        .tab{
            background: $gold;
            border-top: 1px solid $dark-gray;
            border-right: 1px solid $dark-gray;
            word-spacing: normal;
            display: inline-block;
            padding: 0 5px;
            height: 30px;
            line-height: 30px;
            cursor: pointer;

            div{
                display: inline-block;
            }

            button{
                background: transparent;
                font-size: 100%;
                line-height: 1;
                border: 0;
                cursor: pointer;
                height: 18px;
                font-family: sans-serif;
                vertical-align: inherit;
            }

            label{
                cursor: pointer;
            }

            .smallSelector{
                font-size: 0.75em;
                margin: 0 3px;
            }
        }

        .toggle{
            cursor: pointer;
        }

        .tab.active{
            background: $light-gray;
        }

        .tab.set{
            background: $light-green;
        }
    }

    .permanent{
        font-size: 0.75em;
        border-bottom: 1px solid $gray;
        padding: 3px 15px;
        background: $light-gray;

        .currentInfo{
            div{
                display: inline-block;
                margin: 0 8px;
            }

            > div{
                border-bottom: 1px solid $dark-gray;
            }
        }
    }

    .views{
        box-sizing: border-box;        
        min-height: 250px;
        padding: 15px;;


        .view{
            display: none;
            padding: 5px;

            .column{
                display: inline-block;
            }
        }

        .view.active{
            display: block;
        }
    }

    input{
        box-shadow: none;
        border-radius:0;
        background: $white;
        border: 1px solid $dark-gray;
        font-size: 16px;
        line-height: 1.2;
    }

    input[type=text]{
        height: 20px;
        max-height: 20px;
        min-height: 20px;
        padding: 2px;
        font-family: sans-serif;
    }

    input[type=text]:disabled{
        background: $light-gray;
        border-color: $gray;
    }

    label{
        font-size: 1em;
        cursor: pointer;
        font-weight: normal;
    }

    .rules{
        font-size: 16px;

        .group, .page, .ruleSet{
            padding: 5px 2px;
            border-radius: 5px;
            border-width: 1px;
            border-style: solid;
            border-color: $gray;
        }

        .group{
            background: $light-gray;
        }

        .page{
            margin: 3px 0;
            background: $white;
        }

        .ruleSet{
            margin: 2px 0;
            background: $light-gray;
        }

        .group ul, .page ul, .ruleSet ul{
            list-style: none;
        }

        .savedRule{
            margin-right: 10px;
            padding: 5px;
            border: 1px solid $dark-gray;
            background: $white;
            display: inline-block;
        }

        .savedRuleName{
            cursor: pointer;
            font-weight: bold;
            padding: 0 5px;
        }

        .savedRuleName.editing{
            background: $gold;
        }

        .deltog, .editRule, .previewRule{
            cursor: pointer;
            padding: 0 3px;
        }

        .deltog:hover, .editRule:hover, .previewRule:hover{
            color: $red;
        }

        .ruleGroup{
            margin-bottom: 15px;

            h2{
                text-decoration: underline;
                margin: 10px 0;
            }
        }
    }

    .ruleHTMLHolder{    
        .capture{
            background: #ddd;
            padding: 2px;
            cursor: pointer; 
        }

        .selected{
            background: $light-green;
        }

        .cycle {
            margin: 0 5px;
            padding: 2px 3px;
            cursor: pointer;
        }
    }

    .items{
        font-size: 16px;
        color: $black;

        .column{
            display: inline-block;
        }

        .modifiers{
            vertical-align: top;
            padding-left: 15px;
            max-width: 75%;

            > div{
                padding: 10px 0;
            }
        }

    }

    .selectorGroup{
        display: inline-block;
        white-space: nowrap;
        padding: 2px 0 0 2px;
        position: relative;
        cursor: pointer;

        *{
            font-size: 16px;
        }

        .toggleable{
            color: $dark-gray;
            border-bottom: 1px solid #777;   
            
            .childtoggle{
                border-width: 0 0 1px;
                width: 50px;
            }
        }

        .toggleable.off{
            color: #ccc;
        }

        .deltog, .nthtype, .onlychild{
            font-weight: bold;
            padding: 0 3px 0 2px;
            color: $white;
        }

    }

    .selectorGroup:hover{
        .deltog, .onlychild, .nthtype{
            color: #777;
        }
    }
}

/* tab buttons */
#refreshCollect{
    background: $blue;
}

#closeCollect{
    background: $light-red;
}

#ruleHTML{
    line-height: 2;
}

/* views */
/* previewView */
#previewView{
    .name{
        margin-right: 15px;
    }
}

#previewContents{
    font-size: 16px;
    overflow-y: scroll;
    height: 200px;
    border: 2px inset;

    p{
        margin-bottom: 5px;
        padding: 2px 15px;
    }
    p:nth-of-type(even){
        background: $light-gray;
    }
}

/* rulesView */
#ruleForm{
    width: 25%;
    min-width: 250px;
    border-right: 1px dashed $dark-gray;

    input.error{
        border-color: $red;
        border-style: solid;
    }

    span.error{
        border-bottom: 1px solid $red;
    }

    
    input[type=text]{
        width: 150px;
        border-width: 0 0 1px;
    }


    .rule{
        height: 20px;
        font-size: 1em;
        margin-bottom: 5px;
        border: 0;
        overflow: visible;

        span{
            min-width: 50px;
        }

        label{
            width: 75px;
        }

        label, input{
            margin: 0;
            display: inline-block;
        }
    }

    .rule.follow{
        display: none;
    }
}

#parentForm, #nextForm, #editForm{
    @extend #ruleForm;
    display: none;
}

/* Selector */
#selectorHolder{
    line-height: 1.5;
}

@import 'page';
