$red: #C91900;
$light-red: #F296A3;
$green: #489675;
$light-green: #BDDBCE;
$blue: #45AACC;
$dark-blue: #2E829E;
$light-gray: #efefef;
$dark-gray: #444444;
$gray: #CCCCCC;
$gold: #FFD700;
$white: #ffffff;
$black: #000000;

/* general */
body{
    /* can break some sites' layouts */
    margin: 0;
}

/* Interface */
.collectjs{
    z-index:1000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 1000px;
    min-height: 30px;
    border-top: 1px solid $dark-gray;
    border-right: 1px solid $dark-gray;
    background: $white;
    font-size: 16px;
    font-family: sans-serif;
    color: $black;
    text-align: left;
    box-sizing: border-box;

    *{
        color: $black;
        box-sizing: border-box;
    }

    .inline{
        display: inline-block;
    }

    .hidden{
        display: none !important;
    }


    ul{
        list-style: none;
    }

    .tabHolder{
        position: relative;
    }

    .tabs{
        position: absolute;
        left: 0;
        bottom: 0;
        height: 30px;
        padding: 0;
        margin: 0;
        word-spacing: -6px;
        width: 100%;
        background: transparent;
        
        .tab{
            background: $gold;
            border-top: 1px solid $dark-gray;
            border-right: 1px solid $dark-gray;
            word-spacing: normal;
            display: inline-block;
            padding: 0 5px;
            height: 30px;
            line-height: 30px;
        }

        .tab.active{
            background: $light-gray;
        }

        .tab.set{
            background: $light-green;
        }
    }

    .permanent{
        border-bottom: 1px solid $gray;
        padding: 3px 15px;
        background: $light-gray;

        div{
            display: inline-block;
            margin: 0 8px;
        }
    }

    .views{
        box-sizing: border-box;        
        min-height: 250px;
        padding: 15px;


        .view{
            display: none;
            padding: 5px;
            text-align: left;

            > *{
                vertical-align: top;
                display: inline-block;
            }

            .tag{
                background: $light-red;
                display: inline-block;
                padding-top: 2px;
                padding-right: 5px;
                padding-bottom: 2px;
                padding-left: 5px;
                margin-right: 5px;
                border: 1px solid $light-gray;
                border-radius: 5px;
                cursor: pointer;
            }

            .on,
            .tag.on{
                background: $light-green;
            }

            .form{

                > p {
                    margin: 0;
                    line-height: 1.25em;
                }

                .workarea{
                    margin-bottom: 25px;
                }

                .buttons{
                }
               
                input.error{
                    border-color: $red;
                    border-style: solid;
                }

                span.error{
                    border-bottom: 1px solid $red;
                }

                .radio label{
                    margin-left: 15px;
                    display: inline-block;
                }
                
                input[type=text]{
                    width: 150px;
                    border-width: 0 0 1px;
                }
            }


            svg {
                font-size: 14px;

                .link {
                  fill: none;
                  stroke: #aaa;
                }

                .node{
                    cursor: pointer;
                    fill: #21732C;
                }

                .empty{
                    fill: #CF2558;
                }

                .node text {
                    paint-order: stroke;
                    stroke: white;
                    stroke-width: 2px;
                    text-anchor: end;
                }

                .current{
                    font-weight: bold;
                }
            }
        }

        .view.active{
            display: block;
        }
    }

    input{
        box-shadow: none;
        border-radius:0;
        background: $white;
        border: 1px solid $dark-gray;
        line-height: 1.2;
    }

    input[type=text]{
        height: 20px;
        max-height: 20px;
        min-height: 20px;
        padding: 2px;
        font-family: sans-serif;
    }

    label{
        cursor: pointer;
        font-weight: normal;
    }

    .attributes {
        tbody tr:hover{
            background: $gray;
            cursor: pointer;
        }

        .selectedAttr, .selectedAttr:hover{
            background: $light-green;
        }
    }


    td, th {
        min-width: 50px;
        height: 1.5rem;
        border: 2px solid $white;
        text-align: center;
        vertical-align: middle;
    }

    th {
        background: $blue;
    }


    /* lots of sites like to customize how various inputs look, 
    so this is trying to keep these close to (chrome) default css */
    button {
        background: #dddddd;
        color: $black;
        border: 2px outset #dddddd;
        border-radius: initial;
        box-shadow: none;
        cursor: pointer;
        font-weight: norma;
        margin: 2px;
        padding: 1px 6px;
        min-width: initial;
    }

    button:active{
        border-style: inset;
        color: $black;
    }

    select {
        display: inline-block;
        border: 1px solid #a9a9a9;
        background: $white;
        margin: 2px;
    }
}

#schemaInfo div {
    display: inline-block;
}

#closeCollectjs{
    background: $light-red;
    cursor: pointer;
}

@import 'page';
