$red: #CF2558;
$light-red: #F296A3;
$lime-green: #76B85C;
$green: #21732C;
$light-green: #BDDBCE;
$blue: #45AACC;
$dark-blue: #2E829E;
$light-gray: #CED1DE;
$dark-gray: #373840;
$gray: #898B96;
$gold: #FFD700;
$white: #ffffff;
$black: #000000;

/* general */
body{
    /* can break some sites' layouts */
    margin: 0;
}

/* Interface */
.collectorjs{
    z-index:1000;
    position: fixed;
    left: 0;
    bottom: 0;
    min-height: 30px;
    border-top: 1px solid $dark-gray;
    border-right: 1px solid $dark-gray;
    background: $white;
    font-size: 16px;
    font-family: sans-serif;
    color: $black;
    text-align: left;
    box-sizing: border-box;

    *{
        color: $black;
        box-sizing: border-box;
        line-height: 1.1em !important;
    }

    .not-allowed{
        cursor: not-allowed;

        * {
            cursor: not-allowed;        
        }
    }

    .inline{
        display: inline-block;
    }

    .hidden{
        display: none !important;
    }


    ul{
        list-style: none;
    }

    .permanent{
        padding: 3px 15px;
        background: $dark-gray;
        height: 31px;

        *{
            color: $light-gray
        }

        button, select, option {
            color: $black;
        }

        div{
            display: inline-block;
            margin: 0 8px;
        }
    }

    .page-tree{
        display: inline-block;
        background: $dark-gray;
        padding: 10px;

        svg {
            box-sizing: content-box;
            background: $white;
            padding: 15px;
        }
    }

    .views{
        box-sizing: border-box;        
        background: $dark-gray;
        width: 500px;
        padding: 10px;
        display: inline-block;
        vertical-align: top;

        .view{
            height: 250px;
            display: none;
            text-align: left;
            width: 100%;
            background: $white;
            padding: 15px;
            overflow-y: scroll;

            > *{
                vertical-align: top;
                display: inline-block;
            }

            .tag{
                background: $light-red;
                display: inline-block;
                padding-top: 2px;
                padding-right: 5px;
                padding-bottom: 2px;
                padding-left: 5px;
                margin-right: 5px;
                border: 1px solid $light-gray;
                border-radius: 5px;
                cursor: pointer;
            }

            .on,
            .tag.on{
                background: $light-green;
            }

            .form{

                > p {
                    margin: 0;
                    line-height: 1.25em;
                }

                .workarea{
                    margin-bottom: 25px;
                }

                .buttons{
                }
               
                input.error{
                    border-color: $red;
                    border-style: solid;
                }

                span.error{
                    border-bottom: 1px solid $red;
                }

                .radio label{
                    margin-left: 15px;
                    display: inline-block;
                }
                
                input[type=text]{
                    width: 150px;
                    border-width: 0 0 1px;
                }
            }


        }

        .view.active{
            display: block;
        }
    }

    svg {
        font-size: 14px;

        .link {
          fill: none;
          stroke: $light-gray;
        }

        .node{
            cursor: pointer;
            fill: $green;
        }

        .empty{
            fill: $red;
        }

        .node text {
            paint-order: stroke;
            stroke: white;
            stroke-width: 2px;
            text-anchor: end;
        }

        .current{
            font-weight: bold;
        }
    }

    input{
        box-shadow: none;
        border-radius:0;
        background: $white;
        border: 1px solid $dark-gray;
        line-height: 1.2;
    }

    input[type=text]{
        height: 20px;
        max-height: 20px;
        min-height: 20px;
        padding: 2px;
        font-family: sans-serif;
    }

    label{
        cursor: pointer;
        font-weight: normal;
    }

    .attributes {
        tbody tr:hover{
            background: $gray;
            cursor: pointer;
        }

        .selectedAttr, .selectedAttr:hover{
            background: $light-green;
        }
    }


    td, th {
        min-width: 50px;
        height: 1.5rem;
        border: 2px solid $white;
        text-align: center;
        vertical-align: middle;
    }

    th {
        background: $blue;
    }


    /* lots of sites like to customize how various inputs look, 
    so this is trying to keep these close to (chrome) default css */
    input, select, option, textarea, button {
        line-height: 1.1em !important;
        padding: 0 !important;
        margin: 0 !important;
        font-size: 1em !important;
    }

    button {
        background: $lime-green !important;
        color: $black !important;
        border-radius: 3px !important;
        border: 2px outset $lime-green !important;
        box-shadow: none !important;
        cursor: pointer !important;
        font-weight: normal !important;
        margin: 2px !important;
        padding: 1px 6px !important;
        min-width: initial !important;
        text-transform: capitalize !important
    }

    button:active{
        border-style: inset !important;
        color: $black !important;
    }

    select {
        display: inline-block !important;
        border: 1px solid #a9a9a9 !important;
        background: $white !important;
        margin: 2px !important;
    }
}

#schemaInfo div {
    display: inline-block;
}

#closeCollectjs{
    background: $red;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    height: 31px;
    width: 31px;
    font-size: 2em;
    color: $white;
    text-align: center;
    margin: 0;
}

@import 'page';
