.preview {
  pre {
      white-space: pre-wrap;
      word-break: break-all;
      height: 200px;
      overflow: scroll;
      margin: 1em 0;
      padding: 5px;
      border-style: inset;
      border-color: $black;
      border-width: 1px;
      border-left: 10px solid $dark-blue;
      background: $light-gray;
  }
}
